{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<main>
  <h1 class="visually-hidden">Heroes examples</h1>

  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Financiële dossiers</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Navigeer door de financiële wereld met vertrouwen. Ontdek onze heldere inzichten in crediteuren, debiteuren en betalingen - essentiële pijlers voor een solide financiële strategie. Welkom bij de kern van financieel beheer, welkom bij finances.io</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Ontdek</button>
   
      </div>
    </div>
  </div>
</main>
{% endblock %}
