<form method="post" action="{{ path('app_creditnota_delete', {'id': creditnotum.id}) }}" onsubmit="return confirm('Weet je zeker dat je dit item wilt verwijderen?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ creditnotum.id) }}">
    <button class="btn">Delete</button>
</form>
