{% extends 'base.html.twig' %}

{% block title %}Edit Debiteur{% endblock %}

{% block body %}
    <h1>Edit Debiteur</h1>

    {{ include('debiteur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_debiteur_index') }}">back to list</a>

    {{ include('debiteur/_delete_form.html.twig') }}
{% endblock %}
